@import "../../variables.scss";
@import "../../mixins.scss";

.admin-skills {
  @include flex(normal, normal, row);
  width: 100%;
  height: 100vh;
  background-color: $white-text-color;

  @media (max-width: 1030px) {
    padding-top: 90px;
  }

  & .sidebar {
    width: 18vw;
    padding-top: 15vh;
    background-color: $color7;
    margin-top: -40px;

    &__title {
      @include typo("dancing script", 2.3em, 400);
      text-align: center;
      margin: auto;
      margin-bottom: 24px;
      padding-bottom: 36px;
      color: $white-text-color;
      width: 85%;
    }

    &__btn {
      width: 75%;
      background-color: $color5;
      filter: drop-shadow(2px 2px 3px #0003);
      color: $white-text-color;
      font-family: "roboto";
      font-size: clamp(16px, 1.6vw, 18px);
      display: block;
      padding: 12px 20px;
      margin: 20px auto;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
      transition: 0.2s;
    }
  }

  & .main-content {
    width: 80vw;
    margin: auto;
  }

  & .skills__part {
    padding-bottom: 36px;

    &-container {
      width: 50%;
      margin: auto;
      padding: 20px 0 60px 0;
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      gap: 40px;

      @media (max-width: 1400px) {
        width: 60%;
      }

      @media (max-width: 1030px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (max-width: 890px) {
        gap: 20px;
        // width: 50%;
      }

      @media (max-width: 540px) {
        grid-template-columns: 1fr 1fr;
        width: 70%;
      }
    }
  }
}